body {
  font-family: Arial, sans-serif;
  margin: 40px;
  line-height: 1.6;
  background-color: #f1aaaa;
  color: #323030;
}

.container {
  max-width: 800px;
  margin: auto;
  background: #f9f9f9;
  padding: 30px;
  border-radius: 20px;
  box-shadow: 0px 4px 10px rgba(0,0,0,0.1);
}

.Profil-Border {
  background-color: #f5e0e0;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0,0,0,0.1)
}

.header {
  text-align: center;
  margin-bottom: 20px;
}

.header img {
  padding: 10px;
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 50%;
  margin-bottom: 15px;
}

h1 {
  margin: 10px;
  font-size: 28px;
}

.contact {
  text-align: center;
  font-size: 14px;
  color: #323030;
}

h2 {
  text-align: left;
  border-bottom: 2px solid #ddd;
  padding-bottom: 5px;
  margin-top: 30px;
}

p {
  text-align: justify;
}

li {
  text-align: justify;
}

ul {
  list-style: square;
  margin-left: 20px;
}